@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

h1 {
    color: #50fa7b;
    font-family: 'Fira Code', monospace;
}

.title-1 {
    color: #bd93f9;
    font-family: 'Fira Code', monospace;
}

